<main>
  <div class="container">
    <div class="row my-2 justify-content-center">
      <div class="col-lg-4 justify-content-center">
        <h4>新規登録画面</h4>
      </div>
    </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="row mb-1 justify-content-center">
      <div class="col-lg-3 justify-content-center">
        <%= f.label :ユーザー名 %>
      </div>
      <div class="col-lg-3 justify-content-center">
        <p><%= f.text_field :user_name, autocomplete: "user_name" %><p>
      </div>
    </div>

    <div class="row mb-1 justify-content-center">
      <div class="col-lg-3 justify-content-center">
        <%= f.label :メールアドレス %>
      </div>
      <div class="col-lg-3 justify-content-center">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <div class="row mb-1 justify-content-center">
      <div class="col-lg-3 justify-content-center">
        <%= f.label :自己紹介文 %>
      </div>
      <div class="col-lg-3 justify-content-center">
        <%= f.text_area :introduction, autocomplete: "introduction", class: "p-1" %>
      </div>
    </div>

    <div class="row mb-1 justify-content-center">
      <div class="col-lg-3 justify-content-center">
        <%= f.label :パスワード（６文字以上） %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>characters minimum)</em>
      <% end %>
      </div>
      <div class="col-lg-3 justify-content-center">
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    </div>

   <div class="row mb-2 justify-content-center">
      <div class="col-lg-3 justify-content-center">
        <%= f.label :パスワード（確認用） %>
      </div>
      <div class="col-lg-3 justify-content-center">
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="row my-4 justify-content-center">
      <div class="col-lg-3">
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
  </div>

  <div class="container my-2">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <h4>既に登録済みの方</h4>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 justify-content-center">
        <p><%= link_to "こちら", customer_session_path %>
          からログインして下さい</p>
      </div>
    </div>
  </div>
</main>