<div class="container px-3 py-5">
  <% if @range == "Customer" %>
    <% @customers.each do |customer| %>
      <div class="row mb-3">
        <h3>会員検索結果</h3>
      </div>
      <div class="row p-2 border border-primary">
        <div class="col-lg-9 justify-content-center">
          <div class="row justify-content-center">
            <div class="col-lg-2 justify-content-center border border-secondary">
              <p>ユーザー名</p>
            </div>
            <div class="col-lg-8 justify-content-center border border-secondary">
              <p><%= customer.user_name %></p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-2 justify-content-center border border-secondary">
              <p>自己紹介文</p>
            </div>
            <div class="col-lg-8 justify-content-center border border-secondary">
              <p><%= customer.introduction %></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 justify-content-center">
      <div class="row mt-3 p-1 justify-content-center">
        <div class="col-lg-8">
          <%= link_to "会員のプロフィール画面へ", customers_path(customer.id), class: "btn btn-success" %>
        </div>
      </div>
    </div>
      </div>
    <% end %>
  <% else %>
    <div class="container">
      <div class="row mb-3">
        <h3>投稿検索結果</h3>
      </div>
    </div>
      <% @posts.each do |post| %>
      <div class="container my-2 rounded border border-secondary">
        <%= link_to customers_post_path(post.id), class: "text-secondary text-decoration-none" do %>
        <div class="row border border-secondary">
          <div class="col-lg-2 p-1 d-flex align-items-center">
            <div>ユーザー名：</div>
          </div>
          <div class="col-lg-2 p-1 d-flex align-items-center border-right border-secondary">
            <%= post.customer.user_name %>
          </div>
          <div class="col-lg-2 p-1  border-right border-secondary">
            <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
          </div>

          <div class="col-lg-1">
            <p class="text-center">タグ：</p>
          </div>

          <% post.tags.each do |tag| %>
          <div class="col ">
            <%# タグを展開 %>
              <p class="text-center">#
                <%= tag.tag %>
              </p>
          </div>
          <% end %>
        </div>

        <div class="row justify-content-center">
          <% post.images.each do |image|%>
          <div class="col-lg-3 my-3">
              <%= image_tag image, size: '150x150' %>
          </div>
          <% end %>
        </div>

        <div class="row">
          <div class="col-lg-2 p-1 border border-secondary">
            <div>・ジャンル</div>
          </div>
          <% if post.genre == nil %>
          <div class="col-lg-10 p-1 border border-secondary">
            <p>記載はありません<p>
          </div>
          <% else %>
          <div class="col-lg-10 p-1 border border-secondary">
            <%= post.genre %>
          </div>
          <% end %>
        </div>

        <div class="row">
          <div class="col-lg-2 p-1 border border-secondary">
            <div>・コメント</div>
          </div>
          <div class="col-lg-10 p-1 border border-secondary">
            <%= post.comment %>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

    <!--<div class="container">-->
    <!--  <div class="row">-->
    <!--    <h3>検索結果</h3>-->
    <!--  </div>-->
    <!--  <div class="row justify-content-center">-->
    <!--    <div class="col-lg-6 justify-content-center">-->
    <!--      <p>-->
    <!--        申し訳ありません。</br>-->
    <!--        指定された条件から検索した結果、</br>-->
    <!--        一致する条件はありませんでした。-->
    <!--      </p>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->

