<div class="container px-3 py-5">
  <div class="row p-2 border border-secondary">
    <div class="col-lg-9">
      <%= form_with model: @customer, url: admins_customers_update_path, method: :patch do |f| %>
      <div class="row justify-content-center">
        <div class="col-lg-3 justify-content-center border border-secondary">
          <p><%= f.label :ユーザー名 %></p>
        </div>
        <div class="col-lg-8 justify-content-center border border-secondary">
          <p><%= f.text_field :user_name, class: "mt-2 p-1" %></p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-3 justify-content-center border border-secondary">
          <p><%= f.label :メールアドレス %></p>
        </div>
        <div class="col-lg-8 justify-content-center border border-secondary">
          <p><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-2 p-1" %></p>
        </div>
      </div>
      <div class="row mt-3 justify-content-center">
        <div class="col-lg-3 justify-content-center border border-secondary">
          <p><%= f.label :自己紹介文 %></p>
        </div>
        <div class="col-lg-8 justify-content-center border border-secondary">
          <p><%= f.text_area :introduction, class: "mt-2 p-1 w-100" %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 border border-secondary">
      <div class="row mt-3 p-1 border-bottom border-secondary justify-content-center">
        <div class="col-lg-8 ">
          <p>会員ステータス</p>
        </div>
        <div class="col-lg-4 mb-3">
          <%= f.radio_button :is_deleted, :false %>
          <%= f.label :membership_status, "有効" %>

          <%= f.radio_button :is_deleted, :true %>
          <%= f.label :membership_status, "無効" %>
        </div>
      </div>

      <div class="row my-3 p-1 justify-content-center">
        <div class="col-lg-8">
          <%= f.submit "変更内容を保存", class: "btn btn-success" %>
        </div>
      </div>

      <% end %>
    </div>

  </div>
</div>