<div class="container px-3 py-5">
  <div class="row p-2 border border-secondary">
    <div class="col-lg-9">
      <div class="row justify-content-center">
        <div class="col-lg-3 justify-content-center border border-secondary">
          <p>ユーザー名</p>
        </div>
        <div class="col-lg-8 justify-content-center border border-secondary">
          <p><%= @customer.user_name %></p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-3 justify-content-center border border-secondary">
          <p>メールアドレス</p>
        </div>
        <div class="col-lg-8 justify-content-center border border-secondary">
          <p><%= @customer.email %></p>
        </div>
      </div>
      <div class="row mt-3 justify-content-center">
        <div class="col-lg-3 justify-content-center border border-secondary">
          <p>自己紹介文</p>
        </div>
        <div class="col-lg-8 justify-content-center border border-secondary">
          <p><%= @customer.introduction %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 border border-secondary justify-content-center">
      <div class="row mt-3 p-1 border-bottom border-secondary justify-content-center">
        <div class="col-lg-8 ">
          <p>会員ステータス</p>
        </div>
        <div class="col-lg-4">
          <% if @customer.is_deleted == false %>
            <p class="text-success">有効</p>
          <% else %>
            <P>無効</P>
          <% end %>
        </div>
      </div>
      <div class="row my-3 p-1 justify-content-center">
        <div class="col-lg-6">
          <%= link_to "編集する", admins_customers_edit_path(@customer.id), class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-3">
  <div class="row">
    <div class="col-lg-4">
      <h3>会員投稿一覧</h3>
    </div>
  </div>
</div>

<% @posts.each do |post|%>
  <div class="container my-2 rounded border border-secondary">
    <%= link_to admins_customers_post_show_path(post.id), class: "text-secondary text-decoration-none" do %>
    <div class="row mb-4 border border-secondary">
      <div class="col-lg-2 p-1 d-flex align-items-center">
        <div>ユーザー名：</div>
      </div>
      <div class="col-lg-2 p-1 d-flex align-items-center border-right border-secondary">
        <%= post.customer.user_name %>
      </div>
      <div class="col-lg-2 p-1  border-right border-secondary">
        <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
      </div>

      <div class="col-lg-1">
        <p class="text-center">タグ：</p>
      </div>

      <% post.tags.each do |tag| %>
      <div class="col ">
        <%# タグを展開 %>
          <p class="text-center">#
            <%= tag.tag %>
          </p>
      </div>
      <% end %>
    </div>

    <div class="row my-3 justify-content-center">
      <% post.images.each do |image|%>
      <div class="col-lg-3 m-3">
          <%= image_tag image, size: '150x150' %>
      </div>
      <% end %>
    </div>


    <div class="row mt-4">
      <div class="col-lg-2 p-1 border border-secondary">
        <div>・ジャンル</div>
      </div>
      <% if post.genre == nil %>
      <div class="col-lg-8 p-1 border border-secondary">
        <p>記載はありません<p>
      </div>
      <% else %>
      <div class="col-lg-8 p-1 border border-secondary">
        <%= post.genre %>
      </div>
    </div>
    <% end %>

    <div class="row">
      <div class="col-lg-2 p-1 border border-secondary">
        <div>・コメント</div>
      </div>
      <div class="col-lg-8 p-1 border border-secondary">
        <%= post.comment %>
      </div>
    </div>
  <% end %>
  </div>
<% end %>

<div class="container">
  <div class="row my-5 justify-content-center">
    <div class="col-lg-4 justify-content-center">
      <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>