<div class="container mt-2 my-3 p-4 border border-secondary">
  <div class="row my-2">
    <h3>投稿画面</h3>
  </div>
  <div class="row my-3 justify-content-center">
      <div class="col-lg-10 text-center">
        <% if @post.errors.any? %>
          <%= @post.errors.count %>件のエラーが発生しました
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        <% end %>
      </div>
    </div>

  <%= form_with model: @post, url: customers_posts_path do |f|%>
  <div class="row justify-content-center">
    <div class="col-lg-6 w-100">

      <div class="row my-1 justify-content-center">
        <div class="col">
          <%= f.label :タグ %>
        </div>
      </div>

      <div class="row my-1 justify-content-center">
        <div class="col">
          <%# Edit用に@post.tags.pluck(:name)でタグの配列を取得 %>
          <%= f.text_field :tag, value: @post.tags.pluck(:name), class: "w-75" %>
        </div>
      </div>

      <div class="row my-1 justify-content-center">
        <div class="col">
          <small>スペースで区切ることで複数指定できます。</small>
        </div>
      </div>

      <div class="row mt-3 justify-content-center">
        <div class="col">
          <%= f.label :ジャンル（記入自由です） %>
        </div>
      </div>

      <div class="row my-1 justify-content-center">
        <div class="col">
          <%= f.text_field :genre, class: "w-75" %>
        </div>
      </div>
    </div>

    <div class="col-lg-6 w-100">
      <div class="row my-2 justify-content-center">
        <div class="col">
          <%= f.label :写真を選択して下さい（記載自由） %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <%= f.file_field :images, multiple: true %>
        </div>
      </div>

      <div class="row my-2 justify-content-center">
        <div class="col">
          <%= f.label :投稿コメント（comment） %>
        </div>
      </div>

      <div class="row mt-2 justify-content-center">
        <div class="col">
          <%= f.text_area :comment, class: "h-100 w-75" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 justify-content-center">
      <%= f.submit :投稿する, class: "btn btn-success" %>
  </div>
  <% end %>
</div>