
<%= render partial: 'customer_post', locals: { post: @post } %>

<div class="container mb-3">
  <div class="row justify-content-center">
    <div class="col-lg-2 p-1 text-center">
      <% if @post.favorited_by?(current_customer) %>
        <!-- 一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ-->
        <%= link_to customers_post_favorites_path(@post.id), method: :delete, class: 'btn btn-outline-success' do %>
          <span style="color:red;">❤︎</span><%= @post.favorites.count %>いいね！
        <% end %>
      <% else %>
       <!--一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
        <%= link_to customers_post_favorites_path(@post.id), method: :post, class: 'btn btn-outline-secondary' do %>
            <span>❤︎</span><%= @post.favorites.count %>いいね
        <% end %>
      <% end %>
    </div>
    <div class="col-lg-6 p-1 text-center">
      <p>こちらの投稿が気に入った方は左のいいねボタンをクリック！</p>
    </div>
  </div>
</div>

<div class="container my-4 py-4 border border-secondary">
  <div class="row">
    <div class="col-lg-6">
      <p>コメント総数：<%= @comments.count %>件</p>
    </div>
  </div>
  <div class="row m-2 p-3 justify-content-center">
    <div class="col-lg-10">
      <%= form_with model:[@post, @comment], url: customers_post_comments_path(@post.id)  do |f| %>
        <div class="row justify-content-center">
          <p>コメント投稿は下の投稿欄からどうぞ！</p>
        </div>
        <div class="row my-1 justify-content-center">
          <%= f.text_area :comment, rows: '2',  placeholder: "コメントはこちら", class: 'w-100' %>
        </div>
        <div class="row mt-3 justify-content-center">
          <%= f.hidden_field :post_id, value: @post.id %>
          <%= f.submit "送信する", class: 'btn btn-success' %>
        </div>
      <% end %>
      </div>
  </div>
  <div class="row mx-4 justify-content-center border border-secondary">
    <div class="col-lg-8">
      <div class="row my-2 justify-content-center">
        <p>以下コメント欄</p>
      </div>

      <% if @comments.count == 0 %>
        <div class="row justify-content-center">
          <p>投稿されたコメントは現在ありません</p>
        </div>
      <% else %>
        <div class="row">
          <div class="col m-2 py-2 border border-info">
            <% @comments.each do |post_comment| %>
            <div class="row">
              <div class="col-lg-2">
                <%= post_comment.customer.user_name %>
              </div>
              <div class="col-lg-2">
                <%= post_comment.created_at.strftime('%Y/%m/%d') %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2">
                <p>コメント</p>
              </div>
              <div class="col-lg-9">
                <%= post_comment.comment %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>