<div class="container">
  <div class="row m-3 justify-content-center">
    <div class="col-lg-4 text-center border border-secondary">
      <h3>投稿承認詳細画面</h3>
    </div>
  </div>
</div>

<%= form_with model: @seasoning_spice, url: admins_posts_path do |f| %>
<div class="container mb-3 border border-secondary">
  <div class="row p-4 border border-secondary justify-content-center">
    <%= image_tag @post_for_admin.image, size: '300x300' %>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="row border border-secondary">
        <div class="col-lg-2 p-2 border-right border-secondary text-center">
          <p>分類</p>
        </div>
        <div class="col-lg-8 p-2">
          <%= f.text_field :classification, value: @post_for_admin.classification %>
        </div>
      </div>

      <div class="row border border-secondary">
        <div class="col-lg-2 p-2 border-right border-secondary text-center">
          <p>名前</p>
        </div>
        <div class="col-lg-8 p-2">
          <%= f.text_field :name, value: @post_for_admin.name %>
        </div>
      </div>

      <div class="row border border-secondary">
        <div class="col-lg-2 p-2 border-right border-secondary  text-center">
          <p>詳細</p>
        </div>
        <div class="col-lg-8 p-2">
        <%= f.text_area :detail, size: '6x6', class: 'form-control', value: @post_for_admin.detail %>
        </div>
      </div>

      <div class="row border border-secondary">
        <div class="col-lg-2 p-2 border-right border-secondary text-center">
          <p>用途</p>
        </div>
        <div class="col-lg-8 p-2">
          <%= f.text_area :usega, size: '6x3', class: 'form-control', value: @post_for_admin.usega %>
        </div>
      </div>

      <div class="row my-4 justify-content-center">
        <div class="col-lg-4 text-center">
          <!--投稿承認時、会員からの投稿承認待ちのidを送信して削除出来るように。-->
          <%= f.hidden_field :post_for_admin, value: @post_for_admin.id %>
          <%= f.submit :承認する, class: 'btn btn-success w-75' %>
        </div>
        <div class="col-lg-4 text-center">
          <%= link_to "承認しない", admins_post_path(@post_for_admin.id), method: :delete,
            "data-confirm" => "承認拒否で宜しいですか？", class: 'btn btn-danger w-75' %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>