<div class="container">
  <div class="row m-3 justify-content-center">
    <div class="col-lg-4 text-center border border-secondary">
      <h3>投稿承認詳細画面</h3>
    </div>
  </div>
</div>

<%= form_with model: @seasoning_spice, url: admins_posts_path do |f| %>
<div class="container mb-3 border border-secondary">
  <div class="row p-4 border border-secondary justify-content-center">
    <%= f.file_field :image, value: @post_for_admin.image %>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="row border border-secondary">
        <div class="col-lg-2 p-2 border-right border-secondary text-center">
          <p>分類</p>
        </div>
        <div class="col-lg-8 p-2">
          <%= f.text_field :classification, value: @post_for_admin.classification %>
        </div>
      </div>

      <div class="row border border-secondary">
        <div class="col-lg-2 p-2 border-right border-secondary text-center">
          <p>名前</p>
        </div>
        <div class="col-lg-8 p-2">
          <%= f.text_field :name, value: @post_for_admin.name %>
        </div>
      </div>

      <div class="row border border-secondary">
        <div class="col-lg-2 p-2 border-right border-secondary  text-center">
          <p>詳細</p>
        </div>
        <div class="col-lg-8 p-2">
        <%= f.text_area :detail, size: '6x6', class: 'form-control', value: @post_for_admin.detail %>
        </div>
      </div>

      <div class="row border border-secondary">
        <div class="col-lg-2 p-2 border-right border-secondary text-center">
          <p>用途</p>
        </div>
        <div class="col-lg-8 p-2">
          <%= f.text_area :usega, size: '6x3', class: 'form-control', value: @post_for_admin.usega %>
        </div>
      </div>

      <div class="row my-4 justify-content-center">
        <div class="col-lg-4 text-center">
          <%= f.submit :送信する %>
        </div>
        <div class="col-lg-4 text-center">
          <%#= link_to "編集する", edit_admins_seasonings_spice_path(@seasoning_spice.id), class: 'btn btn-success w-75' %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>