<div class="container px-3 py-5">
  <div class="row mb-3">
    <h3>プロフィール画面</h3>
  </div>

  <% if @customer.id == current_customer.id %>
  <div class="row p-2 border border-primary">
    <div class="col-lg-9 justify-content-center">
      <div class="row justify-content-center">
        <div class="col-lg-2 justify-content-center border border-secondary">
          <p>ユーザー名</p>
        </div>
        <div class="col-lg-8 justify-content-center border border-secondary">
          <p><%= @customer.user_name %></p>
        </div>
      </div>
        <div class="row justify-content-center">
          <div class="col-lg-2 justify-content-center border border-secondary">
            <p>メールアドレス</p>
          </div>
          <div class="col-lg-8 justify-content-center border border-secondary">
            <p><%= @customer.email %></p>
          </div>
        </div>
      <div class="row justify-content-center">
        <div class="col-lg-2 justify-content-center border border-secondary">
          <p>自己紹介文</p>
        </div>
        <div class="col-lg-8 justify-content-center border border-secondary">
          <p><%= @customer.introduction %></p>
        </div>
      </div>
    </div>
<% else %>
    <div class="row p-2 border border-primary">
    <div class="col-lg-12 justify-content-center">
      <div class="row justify-content-center">
        <div class="col-lg-2 justify-content-center border border-secondary">
          <p>ユーザー名</p>
        </div>
        <div class="col-lg-8 justify-content-center border border-secondary">
          <p><%= @customer.user_name %></p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-2 justify-content-center border border-secondary">
          <p>自己紹介文</p>
        </div>
        <div class="col-lg-8 justify-content-center border border-secondary">
          <p><%= @customer.introduction %></p>
        </div>
      </div>
    </div>
 <% end %>

    <% if @customer.id == current_customer.id %>
    <div class="col-lg-3 justify-content-center">
      <div class="row mt-3 p-1 justify-content-center">
        <% if @customer.email == 'guest@example.com' %>
          <p>ゲストアカウントの為</br>
              編集出来ません。</p>
        <% else %>
        <div class="col-lg-8">
          <%= link_to "編集する", customers_members_information_edit_path, class: "btn btn-success" %>
        </div>
        <% end %>
      </div>
      <div class="row my-3 p-1 justify-content-center">
        <div class="col-lg-8">
          <%= link_to "いいね一覧へ", customers_likes_like_path(customer_id: @customer), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="container my-3">
  <div class="row">
    <div class="col-lg-4">
      <h3>投稿一覧</h3>
    </div>
    <div class="row">
      <% if @posts.count == 0 %>
        <h4>現時点では、投稿はありません。</br>
            上記のリンクから投稿してみましょう！</h4>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'post', collection: @posts %>

<div class="container">
  <div class="row my-5 justify-content-center">
    <div class="col-lg-4 justify-content-center">
      <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>
