<!DOCTYPE html>
<html>
  <head>
    <title>TaberuCommunication</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar p-4 navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <div class="col-lg-4">
            <h4 class="text-white">
              食べるコミュニケーション
            </h4>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-white" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto" >
              <% if customer_signed_in? %>
              <div class="d-flex flex-wrap col-lg-6 justify-content-center text-center">
                <li class="col-lg-6 mt-1 justify-content-center">
                  <%= link_to "ホーム画面", customers_homes_top_path, class:"text-light" %>
                </li>
                <li class="col-lg-6 mt-1 justify-content-center">
                  <%= link_to "投稿", new_customers_post_path, class:"text-light" %>
                </li>
                <li class="col-lg-6 mt-1 justify-content-center">
                <%= link_to "プロフィール", customers_path(current_customer.id), class:"text-light" %>
                </li>
                <li class="col-lg-6 mt-1 justify-content-center">
                  <%= link_to "管理者向け投稿", customers_homes_new_path, class:"text-light" %>
                </li>

                <li class="col-lg-6 mt-1 justify-content-center">
                  <%= link_to "タグ一覧", customers_tag_index_path, class:"text-light" %>
                </li>
                <li class="col-lg-6 mt-1 justify-content-center">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"text-light" %>
                </li>
              </div>
              <div class="col-lg-4">
                <%= form_with url: customers_search_path, local: true, method: :get do |f| %>
                  <div class="row m-1">
                    <div class="col w-100">
                      <%= f.text_field :word %>
                    </div>
                  </div>
                  <div class="row m-1">
                    <div class="col-lg-4">
                      <%= f.select :range, options_for_select([["投稿",'Post'],["会員",'Customer']]) %>
                    </div>
                    <div class="col-lg-6">
                      <%= f.select :search, options_for_select([["部分一致","partial_match"], ["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"]]) %>
                    </div>
                  </div>
                  <div class="row mt-2 justify-content-center">
                    <div class="col-lg-6">
                      <%= f.submit "検索", class: "btn btn-success w-100" %>
                    </div>
                  </div>
                <% end %>
              </div>
              <% elsif admin_signed_in? %>
                <li>
                  <%= link_to "会員一覧", admins_customers_index_path, class:"m-2 text-light" %>
                </li>
                <li>
                  <%= link_to "投稿承認一覧", admins_posts_path, class:"m-2 text-light" %>
                </li>
                <li>
                <%= link_to "ホーム画面", admins_homes_top_path, class: "m-2 text-light" %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "m-2 text-light" %>
                </li>
              <% else %>
                <h4 class="justify-content-center">ようこそ食べるコミュニケーションへ！</h4>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
